.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.image-tabs {
    margin-top: 20px;
}
div.images {
    margin: 50px 0px 10px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
}
div.image-thumbnail {
    position: absolute;
}
div.image-hashtags {
    text-align: left;
}
div.image-footer {
    clear: both;
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}