<ul class="notes">
    {% for note in notes %}
    <li class="note">
        <div class="note-thumbnail">
            <a href="{{ url_for('.user', username=note.user.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ note.user.gravatar(size=40) }}">
            </a>
        </div>
        <div class="note-content">
            <div class="note-date">{{ moment(note.timestamp).fromNow() }}</div>
            <div class="note-user"><a href="{{ url_for('.user', username=note.user.username) }}">{{ note.user.username }}</a></div>
            <div class="note-body">{{ note.body }}</div>
        </div>
    </li>
    {% endfor %}
</ul>